<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.devepos.adt.atm.ui.general.commands.category"
            name="%catagory.atm.label">
      </category>
      <command
            categoryId="com.devepos.adt.atm.ui.general.commands.category"
            id="com.devepos.adt.atm.ui.command.tagSelectedObjects"
            name="%command.tagSelectedObjects.label">
      </command>
      <command
            categoryId="com.devepos.adt.atm.ui.general.commands.category"
            id="com.devepos.adt.atm.ui.command.tagObjects"
            name="%command.tagObjects.label">
      </command>
      <command
            id="com.devepos.adt.atm.ui.command.showInObjectTags"
            name="%command.showInObjectTags.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.devepos.adt.atm.ui.internal.handlers.AddTagsToSelectedObjectsHandler"
            commandId="com.devepos.adt.atm.ui.command.tagSelectedObjects">
      </handler>
      <handler
            class="com.devepos.adt.atm.ui.internal.handlers.AddTagsToObjectsHandler"
            commandId="com.devepos.adt.atm.ui.command.tagObjects">
      </handler>
      <handler
            class="com.devepos.adt.atm.ui.internal.handlers.ShowInObjectTagsHandler"
            commandId="com.devepos.adt.atm.ui.command.showInObjectTags">
      </handler>
    </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.devepos.adt.atm.ui"
               label="%toolbar.atm.label">
            <command
                  commandId="com.devepos.adt.atm.ui.command.tagObjects"
                  icon="icons/AssignTag.png"
                  label="%toolbar.menu.cmd.tagObjects.label"
                  mnemonic="a"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.sap.adt.tools.core.ui.toolsActive">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?endof=group.open">
         <command
               commandId="com.devepos.adt.atm.ui.command.tagSelectedObjects"
               icon="icons/AssignTag.png"
               label="%menu.cmd.tagObjects.label"
               mnemonic="a"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        operator="and">
                     <adapt
                           type="com.devepos.adt.base.ui.adtobject.IAdtObject">
                        <and>
                           <test
                                 property="com.devepos.adt.atm.ui.features.abaptagsAvailable">
                           </test>
                           <test
                                 property="com.devepos.adt.atm.ui.adtObject.isTaggable">
                           </test>
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#EditorContext?after=group.open">
         <command
               commandId="com.devepos.adt.atm.ui.command.tagSelectedObjects"
               icon="icons/AssignTag.png"
               label="%menu.cmd.tagObjects.label"
               mnemonic="a"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorInput">
                  <adapt
                        type="com.devepos.adt.base.ui.adtobject.IAdtObject">
                     <test
                           forcePluginActivation="true"
                           property="com.devepos.adt.atm.ui.features.abaptagsAvailable">
                     </test>
                  </adapt>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.menus.showInMenu">
         <command
               commandId="com.devepos.adt.atm.ui.command.showInObjectTags"
               icon="icons/Tag.png"
               label="%menu.cmd.showInObjectTags.label"
               mnemonic="t"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.search.ui.views.SearchView?endof=group.new">
         <command
               commandId="com.devepos.adt.atm.ui.command.tagSelectedObjects"
               icon="icons/AssignTag.png"
               label="%menu.cmd.tagObjects.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="com.devepos.adt.base.ui.adtobject.IAdtObject">
                        <test
                              forcePluginActivation="true"
                              property="com.devepos.adt.atm.ui.features.abaptagsAvailable">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.devepos.adt.saat.views.cdsanalyzer?endof=group.new">
         <command
               commandId="com.devepos.adt.atm.ui.command.tagSelectedObjects"
               icon="icons/AssignTag.png"
               label="%menu.cmd.tagObjects.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        operator="and">
                     <adapt
                           type="com.devepos.adt.base.ui.adtobject.IAdtObject">
                        <test
                              forcePluginActivation="true"
                              property="com.devepos.adt.atm.ui.features.abaptagsAvailable">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.devepos.adt.atm.ui.internal.propertytester.FeatureTester"
            id="com.devepos.adt.atm.ui.ProjectFeatureTester"
            namespace="com.devepos.adt.atm.ui.features"
            properties="abaptagsAvailable"
            type="com.devepos.adt.base.ui.adtobject.IAdtObject">
      </propertyTester>
      <propertyTester
            class="com.devepos.adt.atm.ui.internal.propertytester.AdtObjectPropertyTester"
            id="com.devepos.adt.atm.ui.AdtObjectPropertyTester"
            namespace="com.devepos.adt.atm.ui.adtObject"
            properties="isTaggable"
            type="com.devepos.adt.base.ui.adtobject.IAdtObject">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="com.devepos.adt.atm.ui.internal.search.TaggedObjectSearchResultPage"
            helpContextId="com.devepos.adt.abaptags.doc.tagged_object_search"
            icon="icons/Tag.png"
            id="com.devepos.adt.atm.ui.searchresultpage.tags"
            searchResultClass="com.devepos.adt.atm.ui.internal.search.TaggedObjectSearchResult">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            class="com.devepos.adt.atm.ui.internal.search.TaggedObjectSearchPage"
            icon="icons/Tag.png"
            id="com.devepos.adt.atm.ui.searchpage.tags"
            label="%tag.searchpage.label"
            tabPosition="1">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.devepos.adt.preferences"
            class="com.devepos.adt.atm.ui.internal.preferences.MainPreferencesPage"
            id="com.devepos.adt.atm.ui.preferencePages.ABAPTags"
            name="%preferences.page.main">
      </page>
      <page
            category="com.devepos.adt.atm.ui.preferencePages.ABAPTags"
            class="com.devepos.adt.atm.ui.internal.preferences.SearchPreferencesPage"
            id="com.devepos.adt.atm.ui.preferencePages.Search"
            name="%preferences.page.search">
      </page>
      <page
            category="com.devepos.adt.atm.ui.preferencePages.ABAPTags"
            class="com.devepos.adt.atm.ui.internal.preferences.TaggingPreferencePage"
            id="com.devepos.adt.atm.ui.preferencePages.ObjectTagging"
            name="%preferences.page.objecttagging">
      </page>
      <page
            category="com.devepos.adt.atm.ui.preferencePages.ABAPTags"
            class="com.devepos.adt.atm.ui.internal.preferences.TaggedObjectTreePreferencePage"
            id="com.devepos.adt.atm.ui.preferencePages.TaggedObjectTree"
            name="%preferences.page.taggedobjecttree">
      </page>
      <page
            category="com.devepos.adt.atm.ui.preferencePages.ABAPTags"
            class="com.devepos.adt.atm.ui.internal.preferences.TagManagerPreferencePage"
            id="com.devepos.adt.atm.ui.preferencePages.TagManager"
            name="%preferences.page.tagmanager">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.devepos.adt.atm.ui.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.devepos.adt"
            class="com.devepos.adt.atm.ui.internal.views.AbapTagManagerView"
            icon="icons/TagsFolder.png"
            id="com.devepos.adt.atm.ui.views.AbapTagManager"
            name="%views.name.abapTagManager"
            restorable="true">
      </view>
      <view
            category="com.devepos.adt"
            class="com.devepos.adt.atm.ui.internal.views.AbapObjectTagsView"
            icon="icons/ObjectTags.png"
            id="com.devepos.adt.atm.ui.views.AbapObjectTags"
            name="%views.name.abapObjectTags"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.devepos.adt.base.ui.searchPageExtensions">
      <parameterSection
            class="com.devepos.adt.atm.ui.internal.search.TagSearchParameterSection"
            pageId="com.devepos.adt.codesearch.ui.searchpage.codeSearch"
            parameterId="tagId">
      </parameterSection>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.devepos.adt.atm.ui.internal.projectexplorer.tree.TaggedObjectTreeContentAndLabelProvider"
            icon="icons/TagsFolder.png"
            id="com.devepos.adt.atm.tags"
            labelProvider="com.devepos.adt.atm.ui.internal.projectexplorer.tree.TaggedObjectTreeContentAndLabelProvider"
            name="%navigatorContent.taggedObjectTree.name"
            priority="higher">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.sap.adt.abapnature">
                  </test>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.devepos.adt.base.ui.tree.ITreeNode">
               </instanceof>
            </or>
         </possibleChildren>
         <actionProvider
               class="com.devepos.adt.atm.ui.internal.projectexplorer.actions.TaggedObjectTreeNodeActionProvider"
               id="com.devepos.adt.atm.ui.taggedObjectTree.configure"
               overrides="org.eclipse.ui.navigator.resources.PropertiesActionProvider">
            <enablement>
               <adapt
                     type="com.devepos.adt.base.ui.tree.ITreeNode">
               </adapt>
            </enablement>
         </actionProvider>
         <commonSorter
               class="com.devepos.adt.atm.ui.internal.projectexplorer.tree.TaggedObjectTreeNodeSorter"
               id="com.devepos.adt.atm.taggedObjectTree.sorter">
         </commonSorter>
      </navigatorContent>
      <actionProvider
            class="com.devepos.adt.atm.ui.internal.projectexplorer.actions.AdtObjectRefOpenActionProvider"
            id="com.devepos.adt.atm.projectexplorer.openAction"
            overrides="org.eclipse.ui.navigator.resources.OpenActions"
            priority="lowest">
         <enablement>
            <and>
               <adapt
                     type="com.sap.adt.tools.core.IAdtObjectReference">
               </adapt>
               <instanceof
                     value="com.devepos.adt.base.ui.tree.IAdtObjectReferenceNode">
               </instanceof>
            </and>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.sap.adt.projectexplorer.ui.internal.action.AbapRepositoryObjectOpenInProjectActionProvider"
            id="com.devepos.adt.atm.projectexplorer.openInProjectAction">
         <enablement>
            <and>
               <adapt
                     type="com.sap.adt.tools.core.IAdtObjectReference">
               </adapt>
               <instanceof
                     value="com.devepos.adt.base.ui.tree.IAdtObjectReferenceNode">
               </instanceof>
            </and>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.devepos.adt.atm.tags">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="com.devepos.adt.atm.projectexplorer.openAction">
            </actionExtension>
            <actionExtension
                  pattern="com.devepos.adt.atm.projectexplorer.openInProjectAction">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            categoryId="com.devepos.adt.atm.ui"
            id="com.devepos.adt.atm.ui.CompParentForegroundColor"
            label="%colorDefinition.CompParentForegroundColor.label"
            value="64,128,128">
      </colorDefinition>
      <themeElementCategory
            id="com.devepos.adt.atm.ui"
            label="%themeElementCategory.label">
      </themeElementCategory>
   </extension>
</plugin>
