<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated abaptags -->
      <package
            uri="https://www.devepos.com/adt/atm"
            class="com.devepos.adt.abaptags.IAbapTagsPackage"
            genModel="model/abaptags.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated abaptags -->
      <parser
            type="abaptags"
            class="com.devepos.adt.abaptags.util.AbapTagsResourceFactory"/>
   </extension>

</plugin>
